html,
body {
  background-color: black;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  height: 100%;
}

#image {
  user-select: none;
  height: 100%;
  z-index: 1;
}

#view_point {
  position: fixed;
  height: 100%;
  width: 100%;
}

#slide_left {
  position: fixed;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.219);
  z-index: 2;
  text-align: center;
}

#slide_right {
  position: fixed;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.219);
  z-index: 2;
  text-align: center;
}

#left_arrow {
  margin-top: 50%;
  height: 36px;
  transform: scaleX(-1);
  user-select: none;
}

#right_arrow {
  margin-top: 50%;
  height: 36px;
  user-select: none;
}
